
html, body {

background-image: url(../images/sky.png);
background-size: cover;
background-repeat: no-repeat;
height: 6000px;

}

#cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6, #cloud7 {
  position: absolute;
  z-index: 100;
}

#cloud1{
	margin-left: 60vw;
	margin-top: 50px;
}

#cloud2{
	margin-left: 40vw;
	margin-top: 300px;
}

#cloud3{
	margin-left: 2vw;
	margin-top: 1400px;
}

#cloud4{
	margin-left: 60vw;
	margin-top: 2400px;
}

#cloud5{
	margin-left: 70vw;
	margin-top: 1100px;
}

#cloud6{
	margin-left: 5vw;
	margin-top: 3500px;
}

#cloud7{
	margin-left: 40vw;
	margin-top: 4000px;
}

#cloudboy {
	margin-left: 5vw;
	margin-top: 250px;
	position: fixed;
}